#chat-header{
    min-height: 10vh;
}

#chat-container{
    overflow: hidden;
}

#chat-lista{
    background: white;
}

#chat-conversa{
    background: rgb(223, 223, 223);
}

#chat-conversa-mensagens{
    height: 80vh;
    overflow-y: auto;

    .msg-enviada{
        background: rgb(84, 171, 243);
        color: white;
    }
}

#chat-conversa-input{
    height: 5vh;
}

a{
    text-decoration: none;
    color: white;
}